<div class="container d-flex flex-column justify-content-center align-items-center vh-100 menu-index">
  <h2 class="mb-3">Menu</h2>
  <div class="text-center mb-3">
    <%= link_to ' Serviços', servicos_path, class:'btn btn-primary btn-lg bi bi-stars', style:'width: 10rem' %>
  </div>
  <div class="text-center">
    <%= link_to ' Usuários', users_path, class:'btn btn-secondary btn-lg bi bi-people', style:'width: 10rem' %>
  </div>
</div>

