<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipos_servico.tipo %>
</p>

<%= link_to 'Edit', edit_tipos_servico_path(@tipos_servico) %> |
<%= link_to 'Back', tipos_servicos_path %>
