<% if user_signed_in? %>
<nav class="navbar navbar-expand-lg bg-primary text-white shadow">
  <div class="container-fluid ">
    <a class="navbar-brand text-white" href="/"><%= image_tag("logocleanner.png", width: 120) %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Serviços
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/servicos">Diário</a></li>
            <li><a class="dropdown-item" href="/servicos/mensal">Mensal</a></li>
            <li><a class="dropdown-item" href="/servicos/todos">Todos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Despesas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/despesas/mensal/">Mensal</a></li>
            <li><a class="dropdown-item" href="/despesas/produtos/">Produtos</a></li>
            <li><a class="dropdown-item" href="/despesas/geral/">Geral</a></li>
            <li><a class="dropdown-item" href="/despesas/vale/">Vales</a></li>
            <li><a class="dropdown-item" href="/despesas/">Todas</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Financeiro
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/financas/mensal/">Mensal</a></li>
            <li><a class="dropdown-item" href="/financas/individual/">Administrativo</a></li>
            <li><a class="dropdown-item" href="/financas/">Todas</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/users">Usuários</a>
        </li>
      
     
      </ul>
      <div class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= @current_user.nome.capitalize %>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><%= link_to 'Editar Usuário', edit_user_path(current_user), class:"dropdown-item" %></li>
          <li><%= link_to 'Sair', sair_path, class:"dropdown-item", method: :delete %></li>
        </ul>
      </div>
   

    </div>
  </div>
</nav>
<% end %>